         .reuters {
             background-color: #e97805;
             color: black;
         }
         
         .dw {
             background-color: #0098ff;
             color: white;
         }
         
         .bloom {
             background-color: #2b00f7;
             color: white;
         }
         
         .upi {
             background-color: #006699;
             color: white;
         }
         
         .timemag {
             background-color: #e90606;
             color: white;
         }
         
         .def {
             background-color: white;
             color: black;
         }